*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}


.section-header {
  text-align: center;
  color: #3c3c3c;
}



.section-header::after {
  content: '';
  display: block;
  margin: 10px auto;
  background-color: #dddbdb;
  height: 3px;
  width: 70px;
}

.section-text {
  text-align: center;
  color: #3c3c3c;
  font-size: 14px;
  padding: 0 15px;
}


.section-header--light, .section-text--light {
  color: #dddbdb;
  position: absolute;
  left:50%;
  transform: translate(-50%,-50%);
}

.section-header--light {
  top: 20%;
}

.section-text--light {
  top: 28%;
}



/* Header */

.header {
  width: 100%;
  height: 100vh;
  background: url("../img/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}


.nav {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease-out;
}


.nav--toggle {
  display: block;
  background:rgba(234,103,81,0.95);
  color: #ddd;
  list-style: none;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  text-align: center; 
  z-index: 2;
  transition: all 0.8s ease-in-out;
}


.nav-hamburger {
  display: block;
  cursor: pointer;
  font-size: 30px;
  position: fixed;
  right: 25px;
  top: 22px;
  width: 35px;
  height: 35px;
}

.nav-hamburger:hover {
  opacity: 0.6;
}

.nav-hamburger__item{
  display: block;
  width: 100%;
  height: 4px;
  background: #5a5a5a;
  margin: 7px 0;
  transition: all 0.4s ease-in-out;
}


.nav-hamburger--rotate .nav-hamburger__item:nth-child(2) {opacity: 0;}
  
.nav-hamburger--rotate .nav-hamburger__item:nth-child(1) {
  transform-origin: left;
  transform: rotate(45deg) translateX(5px);
}
  
.nav-hamburger--rotate .nav-hamburger__item:nth-child(3){
  transform-origin: left;
  transform: rotate(-45deg) translateY(5px); 
}



.nav-list {
  display: flex;
  margin: 0;
  list-style: none;
  display: none;  
  transition: all 0.8s ease-in-out;
}



.nav-list--toggle {
  display: block;
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  text-align: center; 
}


.nav-list__item {
  font-weight: 700;
  font-size: 25px;
  margin: 15px;
  color: #ddd;
  cursor: pointer;
  transition: all 0.4s ease-out;
}


.nav-list__item:hover {
  color: #5a5a5a;
  transform: scale(1.2);
  transition: transform ease-out 0.8s;
}



.header__content {
  position: absolute;
  transform: translate(-50%,-50%);
  top:50%;
  left:50%;
  text-align: center;
  /* color: #1a2733; */
  color: #e9573f;
  margin: 0 auto;
}

.header__title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.header__title--small {
  font-size: 26px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5px 0;
  text-align: center;
}

.header__text {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.9px;
  margin: 20px 0;
  text-align: center;
}

/* About */

.section-about {
  padding: 80px 0 100px;
  margin: 0 auto;
}

.section-about-video {
  margin: 70px auto 0;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)),
  url("../img/img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:700px;
  height: 414px;
  position: relative;
  transition: transform 1.2s;
  box-shadow: 5px 5px 5px rgba(90,90,90,0.8);
}



.section-about-video:hover {
  transform: scale(1.1);
  border: 4px solid #5a5a5a;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0,0,0,0.4)),
  url("../img/img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-about-video__play {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  cursor: pointer;
  padding: 10px 15px;
  border: transparent 2px solid;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 2px rgba(46, 45, 45, 0.8);
}

.section-about-video__play:hover {
  opacity: 0.7;
  border-color: #dddbdb;
}


/* Team */

.section-team {
  padding: 100px 0 80px;
  background: rgb(245, 244, 244);
}

.team {
  margin:80px auto 50px;
  width: 90%; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.team-card__name {
  text-align: center;
  cursor: pointer;
  color: #333;
}

.team-card__name:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.team-card__position {
  text-align: center;
  color: #646464;
  font-size: 14px;
  padding: 5px 0;
}

.team-card__member {
  margin: 20px;
  width: 270px;
  height: 270px;
  cursor: pointer;
  position: relative;
}

.fa-hand-pointer {
  position: absolute;
  top: 70%;
  right: 20%;
  color: #ddd;
  font-size: 25px;
}

.team-card__member--hover {
  position: relative;
  background: url("../img/hover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow:   5px 5px 2px rgba(46, 45, 45, 0.8);
}

.team-card__member1 {
  background: url("../img/team1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.team-card__member2 {
  background: url("../img/team2.png");
  background-size: cover;
  background-position: center;
}

.team-card__member3 {
  background: url("../img/team3.png");
  background-size: cover;
  background-position: center;
}

.team-card__member--overlay {
  background-color: #e9573f;
  opacity: 0.9;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.5s ease-in-out;
  overflow: hidden; 
}

.team-card__socials {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.team-card__member:hover .team-card__member--overlay {
  height: 100%;
  box-shadow:   5px 5px 2px rgba(46, 45, 45, 0.8);
}


/* Expertise */


.section-expertise {
  margin: 100px auto;
}

.expertise {
  margin:60px auto 80px;;
  width: 90%; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.expertise-card {
  width: 300px;
  text-align: center;
  margin: 35px 0;
}

.expertise-card__header {
  color: #3c3c3c;
  text-transform: uppercase;
  margin: 20px 0;
  cursor: pointer;
}

.expertise-card__header:hover {
  opacity: 0.8;
  transition: 0.5s;
}

.expertise-card__header--active {
  color: #e9573f;
}

.expertise-card__text {
  font-size: 14px;
}

.expertise-card__img {
  cursor: pointer;
}

.expertise-card__img:hover {
  transform: scale(1.2);
  transition: 0.7s;
}


/* Work */

.section-work {
  padding: 80px 0 100px;
  background: rgb(245, 244, 244);
}

.work-slider {
  margin: 80px 0 40px;;
  position: relative;
  height: 400px;
}


.slide {
  border-top: 4px solid #ea6751;
  border-bottom: 4px solid #ea6751;
  display: block;
  width: 100%;
  height: 400px;
  background: #1f1f1f;
  overflow: hidden;
  position: absolute; 
}

.slide > * {
  position: absolute; 
  display: block;
  height: 100%; 
  background: #1f1f1f;
  overflow: hidden;
  animation: slide 16s linear infinite;
}

.slide__img:nth-child(1) {
  left: 0%;
  animation-delay: -1s;
  background-image: url("../img/work7.png");
  background-size: cover;
  background-position: center;
  
}

.slide__img:nth-child(2) {
  animation-delay: 3s;
  background-image: url("../img/work13.png");
  background-size: cover;
  background-position: center;
}

.slide__img:nth-child(3) {
  animation-delay: 7s;
  background-image: url("../img/work10.png");
  background-size: cover;
  background-position: center;
  
}

.slide__img:nth-child(4) {
  left: 0%;
  animation-delay: 11s;
  background-image: url("../img/work11.png");
  background-size: cover;
  background-position: center;
}


@keyframes slide {
  0% {left:100%; width: 100%;}
  5% {left:0%;}
  25% {left:0%;}
  30% {left: -100%; width: 100%}
  30.0001% {left: -100%; width: 0%;}
  100% {left:100%; width: 0%;}
}



.links {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.links__click {
  text-decoration: none;
  color: #e9573f;
  font-weight: 700;
  padding: 5px;
}


.links__click:hover {
  opacity: 0.8;
  transition: all ease 0.7s;
  transform: scale(1.07);
}



/* Clients */

.section-clients {
  background: url("../img/bg-clients.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  width: 100%;
  height: 700px;
  position: relative;
  border-top: #999 4px solid;
}

.logo {
  margin: 0 auto;
  position: absolute;
  top:55%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
  align-items: baseline;
}


.logo__item {
  margin: 20px 30px;
  cursor: pointer;
}

.logo__item:hover {
  opacity: 0.5;
  transition: 0.8s;
  transform: scale(1.1);
}



/* Contact */

.section-contact {
  margin: 80px 0;
}


.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
}


.contact-form {
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 50px 0;
}

.contact-form__header {
  margin: 50px 0;
}

.contact-form__input {
  padding: 10px;
  border: none;
	border-bottom: 1px solid rgb(212, 209, 209);
	background: transparent;
	height: 40px;
	color: #fff;
	font-size: 14px;
}

.contact-row{
  width: 100%;
  position: relative;
  margin: 0 0 40px 0;
}

.contact-row__input{
  color: #333;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  border: none;
  outline: none;
}

.contact-row__title{
  position: absolute;
  top: 0;
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s ease;
}


.contact-row__input:focus ~ .contact-row__title,
.contact-row__input:valid ~ .contact-row__title 
{
  color: #e9573f;
  top: -20px;
  font-size: 10px;
}

.contact-row__border{
  width: 100%;
  height: 2px;
  background-color: rgb(212, 209, 209);
  margin: 5px 0 0 0;
}

.contact-row__focus{
  position: absolute;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #e9573f;
  margin: -2px 0 0 0;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}


.contact-row__input:focus ~ .contact-row__focus {
  width: 100%;
}

.contact-form__btn{
  box-shadow: 2px 7px 10px  rgba(68, 68, 68, 0.5);
  padding: 14px;
  background: #e9573f;
  color: #dddbdb;
  border: none;
  font-size: 18px;
  width: 200px;
  cursor: pointer;
}

.contact-form__btn:hover{
  color: #fff;
  box-shadow: none;
  transition: 0.6s;
}


.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 0 10px;
}

.socials__icon {
  padding: 10px 100px; 
  margin: 1px 0;
  height: 40px;
  cursor: pointer;
}

.socials__icon--behance {background: #0e9ef9;}
.socials__icon--twitter {background: #51d7fd;}
.socials__icon--dribbble {background: #fa4e9b;}
.socials__icon--fb {background: #2a63ab;}
.socials__icon--gp {background: #f13131;}

.socials__icon:hover {
  opacity: 0.8;
  transition: 0.5s; 
}


/* Footer */

.footer {
  width: 100%;
  height: 80px;
  background: #c9c9ca;
  display: flex;
  justify-content: center;
  align-items: center;
}


.footer__text {
  text-align: center;
  color: #3c3c3c;
  font-size: 13px;
  font-weight: 700;
  padding: 0 10px;
}





/* RWD */


@media (max-width: 1142px) {
  .section-header--light {top: 15%;}
  
  .section-text--light {top: 25%;}

  .logo {flex-direction: column; top: 65%;}
}

@media (max-width:768px) {

  .section-about-video{
    width: 80%;
    height: 320px;
  }

  .section-about-video:hover {transform: scale(1.1);}

  .team {margin:80px auto 0;}

  .contact-form {width: 80%;}
}



@media (max-width:576px) {
 
  .header__title {font-size: 25px;}

  .header__title--small {font-size: 20px;}

  .header__text {font-size: 12px;}

  .section-about-video {height: 240px;}

  .section-header--light {top: 10%;}

  .section-text--light {
    top: 24%;
    font-size: 13px;
}


@media (max-width:420px) {
  .section-about-video {height: 180px;}

  .team{width:100%;}

  .team-card__member {width:220px; height: 250px;}

  .links {flex-direction: column;}
}


@media(max-width: 320px) {
  .socials__icon {padding: 10px 80px;}

  .contact-form__btn {width: 180px;}

  .expertise-card {width: 250px;}
}

}